<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
print("Shape: ", df.shape)
print("Unique rows: ", len(df.drop_duplicates()))

Shape:  (11552, 85)
Unique rows:  11398

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df=df.drop_duplicates()

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
print(len(df))

11398

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
missing_values = df.isnull()

In [7]:
print(missing_values)

       Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0           False       False     False        False       False       False
1           False       False     False        False       False       False
2           False       False     False        False       False       False
3           False       False     False        False       False       False
4           False       False     False        False       False       False
...           ...         ...       ...          ...         ...         ...
11547       False       False     False        False       False       False
11548       False       False     False        False       False       False
11549       False       False     False        False       False       False
11550       False       False     False        False       False       False
11551       False       False     False        False       False       False

       Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0        False    False    False           False  ...          False
1        False    False    False           False  ...          False
2        False    False    False           False  ...          False
3        False    False    False            True  ...          False
4        False    False    False           False  ...          False
...        ...      ...      ...             ...  ...            ...
11547    False    False    False           False  ...          False
11548    False    False    False           False  ...          False
11549    False    False    False           False  ...          False
11550    False    False    False            True  ...          False
11551    False    False    False           False  ...          False

       SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0             False  False   False  False      False      False       False
1              True  False   False  False      False      False       False
2             False  False   False  False      False      False       False
3             False  False   False  False      False      False       False
4             False  False   False  False      False      False       False
...             ...    ...     ...    ...        ...        ...         ...
11547         False  False   False  False      False      False       False
11548         False  False   False  False      False      False       False
11549         False  False   False  False      False      False       False
11550          True  False   False  False      False      False       False
11551         False  False   False  False      False      False       False

       SurveyLength  SurveyEase
0             False       False
1             False       False
2             False       False
3             False       False
4             False       False
...             ...         ...
11547         False       False
11548         False       False
11549         False       False
11550         False       False
11551         False       False

[11398 rows x 85 columns]

Find out how many rows are missing in the column 'WorkLoc'

In [8]:
# your code goes here
missing_WorkLoc = df['WorkLoc'].isnull().sum()
print("Number of missing values in the column WorkLoc is: ", missing_WorkLoc)

Number of missing values in the column WorkLoc is:  32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [9]:
# your code goes here
value_counts=df['WorkLoc'].value_counts()
print(value_counts)

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [10]:
#make a note of the majority value here, for future reference
# Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [11]:
# your code goes here

df['WorkLoc'].fillna('Office', inplace=True)
print(len(df))

11398

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [12]:
# your code goes here
missing_WorkLoc = df['WorkLoc'].isnull().sum()
print("Number of missing values in the column WorkLoc is: ", missing_WorkLoc)

# your code goes here
value_counts=df['WorkLoc'].value_counts()
print(value_counts)

Number of missing values in the column WorkLoc is:  0
Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

List out the various categories in the column 'CompFreq'

In [13]:
# your code goes here
print(df['CompFreq'].unique())
print(len(df))

['Yearly' 'Monthly' 'Weekly' nan]
11398

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [14]:
import numpy as np

df['NormalizedAnnualCompensation'] = np.nan

#each iteration provides both the index and the row data as a Pandas Series
for index, row in df.iterrows():
    if row['CompFreq'] == 'Yearly':
        df.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        df.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        df.loc[index, 'NormalizedAnnualCompensation'] = row['CompTotal'] * 52
    else:
        #Later impute values based on median or mean...MORE INVESTIGATION NEEDED
        df.loc[index, 'NormalizedAnnualCompensation'] = np.nan
        
#df.head()

In [15]:
# Print the first 5 rows and selected columns
selected_columns = ['CompTotal', 'CompFreq', 'NormalizedAnnualCompensation']
print(df.loc[1000:1050, selected_columns])

       CompTotal CompFreq  NormalizedAnnualCompensation
1000   1300000.0  Monthly                    15600000.0
1001      7500.0  Monthly                       90000.0
1002   1300000.0   Yearly                     1300000.0
1003         NaN  Monthly                           NaN
1004     46000.0   Yearly                       46000.0
1005      2220.0  Monthly                       26640.0
1006     39900.0   Yearly                       39900.0
1007    119000.0  Monthly                     1428000.0
1008    105000.0   Yearly                      105000.0
1009      2700.0  Monthly                       32400.0
1010     80000.0   Yearly                       80000.0
1011     65000.0   Weekly                     3380000.0
1012      2900.0  Monthly                       34800.0
1013      5000.0  Monthly                       60000.0
1014     40000.0   Yearly                       40000.0
1015     85000.0   Yearly                       85000.0
1016    120000.0   Yearly                      120000.0
1017    342000.0   Yearly                      342000.0
1018      6248.0  Monthly                       74976.0
1019    270000.0   Yearly                      270000.0
1020    150000.0   Yearly                      150000.0
1021      4200.0  Monthly                       50400.0
1022     45000.0   Yearly                       45000.0
1023      2000.0  Monthly                       24000.0
1024    126000.0   Yearly                      126000.0
1025     30000.0  Monthly                      360000.0
1026      3650.0  Monthly                       43800.0
1027     96000.0   Yearly                       96000.0
1028     75500.0   Yearly                       75500.0
1029      1200.0  Monthly                       14400.0
1030    120000.0   Yearly                      120000.0
1031    140000.0   Yearly                      140000.0
1032     18000.0  Monthly                      216000.0
1033     90000.0   Yearly                       90000.0
1034    120000.0   Yearly                      120000.0
1035         NaN  Monthly                           NaN
1036    115000.0   Yearly                      115000.0
1037    200000.0   Weekly                    10400000.0
1038     54000.0   Yearly                       54000.0
1039    120000.0   Yearly                      120000.0
1040       800.0  Monthly                        9600.0
1041    150000.0   Yearly                      150000.0
1042     32000.0   Yearly                       32000.0
1043      2800.0  Monthly                       33600.0
1044     25000.0   Yearly                       25000.0
1045      2500.0  Monthly                       30000.0
1046  15000000.0   Yearly                    15000000.0
1047     70000.0   Yearly                       70000.0
1048      1100.0  Monthly                       13200.0
1049    160000.0   Yearly                      160000.0
1050     72600.0   Yearly                       72600.0

Note: The frequency data ('Freq Comp') looks wrong.  Guessing people filled in
the annual salary and then how often they got paid that annual salary.
FURTHER INVESTIGATION NEEDED

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).